{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fontaine Thompson</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}"/>
</head>

<body>
<header>
<h1>Fontaine Thompson</h1>
<nav>

<ul>
<li><a href="home.html">Home</a></li>
<li><a href="highlights.html">Highlights</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>

</header>


	<center><h1>Gallery</h1></center>
	
	


<center><div class= "column-right"><center/>
	<div class="video-area mb-100">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Kbx-pYM99ag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/_zauT8CbDLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/HYaqu8yfN3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>>




<footer>

<em>Copyright &copy; 2020 <a href="mailto:fontainet023@gmail.com">Fontaine Thompson</a></em>

</footer>
</body>


</html>
