{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Fontaine Thompson</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
</head>

<body><div id="main_container">

<header>
<h1>Fontaine Thompson</h1>
<nav>

<ul>
<li><a href="home.html">Home</a></li>
<li><a href="highlights.html">Highlights</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>

</header>

<div class= "column-center"></div>
	<div class="video-area mb-100">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/D5jNPND0B0w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>


	<section>
	<h1>Combine Highlights</h1>
		<div class="column-right">
	 

	<h3>Profile</h3>
    <ul class="list-item">
	<li>Name:  Fontaine Thompson</li>
      <li>Position:  Multiple</li>
	  <li>Height:  6'4</li>
	  <li>Weight:  190</li>
	 	  </ul>
	</div>

	  <section>
	  	
	  </section> 	 
	 <h3>Combine Stats</h3>
	 <ul class="list-item">
	<li>3/4 Sprint:  3.23</li>
      <li>Vertical Jump:  27</li>
      <li>Rank:  Top 10</li>
      <li>EG(Euro-Grade):  2.5</li>
	</ul>
	</div>

		<article>
		<p>Combine Top 10 !!!</p>
		</article>

	</section>
	
	
	
<footer>

<em>Copyright &copy; 2020 <a href="mailto:fontainet023@gmail.com">Fontaine Thompson</a></em>

</footer>
</body>


</html>
